@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Shafarik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Shafarik, Helvetica, sans-serif;
}

@layer components{
    .primary-btn {
        @apply bg-primary text-white font-semibold py-2 px-6 rounded-md hover:scale-110 duration-300;
    }
}